<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rapha Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">Rapha Movies</a></h1>
    </header>
    <h1 class="title">Todos os Filmes</h1>
    <section><a href="/create" class="btn-create">+ Adicionar Novo Filme</a></section>
    <ul>
        <% movies.forEach(movie => { %>
        <li>
            <img src="<%= movie.url_cover %>" alt="">
            <div class="movie-content">
                <h1><%= movie.name %></h1>
                <p><%= movie.description %></p>
                <div class="li-buttons">
                    <a href="/movies/<%= movie.id %>" class="update-movie">Alterar</a>
                    <a href="" class="delete-movie" id="<%= movie.id %>">Excluir</a>
                </div>
            </div>
        </li>
        <% }); %>
    </ul>

    <script>
        var deleteButtons = document.getElementsByClassName('delete-movie');

        Array.from(deleteButtons).forEach(elem => {
            elem.addEventListener("click", function () {
                fetch(`https://api-rapha-filmes.herokuapp.com/movies/${elem.id}`, { method: 'DELETE' })
                .then(res => res.text())
                .then(res => {
                    alert('Filme excluído!');
                    window.location.reload();
                });
            });
        });
    </script>
</body>
</html>